.highlight {
    opacity: 0.80;
    color: black;
    padding: 5px;
    border-radius: 13px;
    font-size: 17px;
}

.bad {
    background-color: #F9767F;
}

.good {
    background-color: #86F18A;
}

#big_option {
    text-align: center;
    font-size: 72px;
}

#encode {
    color: green;
}

#decode {
    color: red;
}

#encode_view {
    text-align: center;
}

#decode_view {
    text-align: center;
}

#encode_result_view {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    font-weight:bold;
    padding:12px 15px;
    text-decoration:none;
    text-shadow:-2px 1px 15px #92b879;
}

.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}

.button:active {
    position:relative;
    top:1px;
}

#encode-button {
    margin-top: 20px
}

#moreinfo {
    text-align: center;
    font-size: 21px;
}

#encode_result_view {
    margin-top: 60px;
}

/*#decode_view_dropzone {
//    border: 2px dashed #0087F7;
//    min-height: 100px;
//    width: 60%;
//    margin-top: 50px;
//    margin-bottom: 50px;
}
*/

.center {
    width: 50%;
    margin: 0 auto;
}

details > p {
    line-height: 12px;
}

textarea[name=payload] {
    margin: 50px 0px 20px 0px;
    width: 70%;
    height: 290px;
}
